/* Style vars */

$font-stack: arial, sans-serif;
$primary-color: black;
$footer-color: #f2f2f2;

/* Main classes */

body {
  height: 100vh;
}

* {
  font-family: $font-stack;
}

.ml-auto {
  margin-left: auto;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.nav-bar {
  display: flex;
  align-items: baseline;
  //justify-content: space-between;
  padding: 1.5em 0.5em;
  ul.menu {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  li > a {
    font-size: 13px;
    margin-left: 1.5em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  input[type="button"] {
    padding: 0.5em 1em;
    margin: 0 2.2em 0 3em;
    font-weight: bold;
    color: white;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    border: 1px solid #4285f4;
    border-radius: 2px;
    outline: none;
  }
}

.hero-container {
  width: 100%;
  height: 15em;
}

.poodle-hero-img {
  display: block;
  margin: 0 auto;
  padding-top: 8em;
  height: 5em;
}

.goggle-hero-img {
  padding-left: 20px;
  display: block;
  margin: 0 auto;
  padding-top: 5em;
  height: 10em;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  .search-icon {
    position: absolute;
    margin-top: 0.4em;
    left: 0;
    width: 2.5em;
    height: 2em;
    background-image: url(https://www.clipartmax.com/png/full/32-322083_magnifying-glass-clipart-transparent-background-magnifying-glass-icon.png);
    background-repeat: no-repeat;
    background-position: 1.05em;
    background-size: 1em;
  }
  .search-bar-wrapper {
    position: relative;
    align-self: center;
    max-width: 65vw;
    display: block;
    margin: 0 auto;
    padding: 0 1.8em 0 3.2em;
    width: 450px;
    height: 44px;
    font-size: 16px;
    border-radius: 27px;
    border: 1px solid #dfe1e5;
    outline: none;
    &:hover,
    &:focus {
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    }
  }
  .search-bar-input {
    display: block;
    margin: 0.6em auto;
    min-width: 100%;
    width: auto;
    height: 1.5em;
    font-size: 16px;
    outline: none;
    border: none;
    // @media (max-width: 660px) {
    //   width: 80%;
    // }
  }
  .search-bar-dropdown {
    position: relative;
    margin: 0 auto;
    padding: 0 1.8em 0 3.2em;
    width: 450px;
    height: 20em;
    font-size: 16px;
    border-radius: 27px;
    border: 1px solid #dfe1e5;
    outline: none;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  }
  .search-dropdown-contents {
    position: absolute;
    left: 0;
    width: 100%;
    hr {
      margin: 0;
      width: 93%;
      margin: 0 auto;
      border-top: 0.1px solid #e8eaed;
    }
    .search-autocomplete {
      padding: 0;
      margin: 0.5em 0 0 0;
      li {
        padding: 0.55em 0 0.55em 3em;
        text-align: left;
        list-style-type: none;
        cursor: default;
        background-image: url(https://www.clipartmax.com/png/full/32-322083_magnifying-glass-clipart-transparent-background-magnifying-glass-icon.png);
        background-repeat: no-repeat;
        background-position: 1.05em;
        background-size: 1em;
        &:hover {
          background-color: lightgrey;
        }
      }
    }
  }
}

.lucky-buttons {
  margin-top: 1.6em;
  z-index: 1500;
  input[type="button"] {
    margin: 0 0.5em;
    padding: 0.7em 0.9em;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #fff;
    cursor: pointer;
    &:hover {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
      background-color: #f8f8f8;
      border: 1px solid #c6c6c6;
      color: #222;
    }
    &:active {
      border: 1px solid #98079a;
      outline: none;
    }
  }
}

.lucky-buttons-dropdown {
  margin-top: 1.6em;
  z-index: -1;
  input[type="button"] {
    margin: 0 0.5em;
    padding: 0.7em 0.9em;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #fff;
    cursor: pointer;
    &:hover {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
      background-color: #f8f8f8;
      border: 1px solid #c6c6c6;
      color: #222;
    }
    &:active {
      border: 1px solid #98079a;
      outline: none;
    }
  }
}

.hide {
  display: none;
}

.footer {
  text-align: left;
  position: absolute;
  bottom: 0;
  height: 2.5em;
  width: 100%;
  background-color: $footer-color;
  border-top: 1px solid #e4e4e4;
  span {
    position: absolute;
    margin-top: 0.75em;
    padding: 0 1.5em;
    color: rgba(0, 0, 0, 0.54);
  }
}

/* Breakpoint vars */

$tablet: 555px;
$mobile: 450px;
$mobile-small: 380px;

/* Breakpoints */

@media (max-width: $tablet) {
  .search-container .search-bar-wrapper {
    width: 79%;
    margin: 0 0.6em;
  }
  .search-container .search-bar-input {
    width: 100%;
  }
  .search-container .search-bar-dropdown,
  .search-dropdown-contents {
    width: 79%;
  }
  /* navbar collapse */
}

@media (max-width: $mobile) {
  .search-container .search-bar-wrapper {
    width: 75%;
    margin: 0 0.6em;
  }
  .search-container .search-bar-dropdown,
  .search-dropdown-contents {
    width: 75%;
  }
}

@media (max-width: $mobile-small) {
  .nav-bar {
    display: none;
  }
  .poodle-hero-img {
    height: 67px;
  }
  .search-container .search-bar-wrapper {
    max-width: 45vw;
    margin: 0.6em 0.6em;
  }
  .search-container .search-bar-input {
    width: 100%;
  }
  .search-container .search-bar-dropdown {
    max-width: 65vw;
  }
  .search-dropdown-contents {
    max-width: 100%;
  }
  .wrapper .search-container .search-bar {
    max-width: 285px;
    margin-left: 2em;
  }
  .lucky-buttons {
    display: none;
  }
}
